* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    background-image: url("../images/ft.png");
    background-attachment: fixed;
    opacity: 95%;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* CARD PRINCIPAL */
.card {
    background-color: #D4AF37;
    max-width: 1200px;
    margin: 60px auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.15),
        0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-20px);
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

/* CONTEÚDO */
#conteudoEscrito {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    text-align: justify;
}

/* TEXTOS */
p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

/* FÓRMULA */
#formula {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 30px auto;
    padding: 15px;
    width: fit-content;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* TÍTULOS */
h2 {
    margin: 30px 0 15px;
}

h3 {


    text-align: center;
    margin: 30px 0;
    padding: 10px;
    width: fit-content;
    margin: 30px auto;
    border-radius: 40px;
}

/* TABELA */
#tabelaDeIMC {
    margin: 30px auto;
    border-collapse: collapse;
    width: 60%;
    background-color: #bbb;
}

#tabelaDeIMC th,
#tabelaDeIMC td {
    border: 1px solid antiquewhite;
    padding: 12px;
    text-align: center;
}

.tituloTabela {
    background-color: #1a1a1a; /* Preto suave em vez do laranja */
    color: #D4AF37;            /* Texto Dourado */
    border: 1px solid #D4AF37;
}

/* FORMULÁRIO DE CÁLCULO */
form {
    
    width: 320px;
    border: 1px solid #D4AF37;
    border-radius: 15px;
    background-color: rgb(99, 98, 98);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

label {
    font-weight: bold;
    color : white;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    border-radius: 15px;
    opacity: 1;
    text-align: center;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input::placeholder {
    color:#aaa;
    opacity: 70%;
}

input:focus {
    border-color: #D4AF37;
    box-shadow: 0 0 16px rgba(212, 175, 55, 0.6);
    transition: 0.5s;
}

.altura-text {
    opacity: 0;
    position: absolute;
    transform: translateX(5px) scale(1);
    transition: opacity 0.5s ease;

}



button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: #D4AF37;
    background: linear-gradient(135deg, #D4AF37, #b8962e);
    border: 1px solid #ccc;
    border-radius: 15px;
}

.imcForm{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.formularioIMC {
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #D4AF37;
    width: 320px;
    opacity: 1;
    box-shadow: 0 0 30px  rgba(255, 255, 255, 1);

}

.campo {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #D4AF37;
    opacity: 100%;
}

.campo input {
    width: 100%;
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    outline: none;
    border: 1px solid #555;
    border-radius: 8px;

}

.campo input:focus{
    border-color: #D4AF37;
    box-shadow: 0 0 8px rgba(212, 175, 55, 0.6);
}

.imcForm button {
    background-color: #D4AF37;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s ease;
}

.imcForm button:hover {
    transform: translateY(-5px) translateX(2px);
    transition: 0.5s;
    box-shadow: 5px 18px 20px rgba(212, 175, 55, 0.4);
}

/* MENSAGEM DE ERRO */
#mensagemErro {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-size: 20px;
    text-shadow: 1px 0px 0px black;
    opacity: 100%;
    transition: 2s ease-in-out;
    transform: translateX(5px);
}
#caixaDeErro {
    
    background-color: rgb(41, 40, 40);
    opacity: 0%;
    border: 2px solid grey;
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
    transform: translateY(-10px) scale(0.95);
    transform: translateX(0px) scale(0.95);
    pointer-events: none;
    transition:  opacity 0.4s ease, transform 0.4s ease;
       
}

#caixaDeErro.show {
    opacity: 1;
    transform: translateX(5px) scale(1);
    transform: translateY(5px) scale(1);
    pointer-events: auto;

}